<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="search-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookNo" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">书名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">作者</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookAuthor" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">出版社</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookPublish" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">分类</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookCategory" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" id="data-search" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            <button type="reset" id="data-reset" class="layui-btn layui-btn-primary" ><i class="layui-icon"></i> 重 置</button>
                        </div>


                    </div>
                </form>


            </div>
        </fieldset>

        <table id="table-book" lay-filter="table-book-filter"></table>



        <script type="text/html" id="table-book-toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新增 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <script type="text/html" id="col-book-toolbar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

            <!-- 这里同样支持 laytpl 语法，如： -->
            {{#  if(d.auth > 2){ }}
            <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
            {{#  } }}
        </script>

    </div>
</div>

<script th:src="@{/layuimini/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/js/lay-config.js?v=2.0.0}" charset="utf-8"></script>
<script th:inline="javascript">

    // var ctxPath=[[${#httpServletRequest.getContextPath()}]];
    var ctxPath=[[@{/}]];
    console.log("ctxPath:" + ctxPath);
    var $ = layui.$;

    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;



        //书籍表格渲染
        table.render({
            elem: '#table-book'
            ,url: ctxPath + 'book/getBookLists' //数据接口
            ,page: true //开启分页
            ,limits: [5,10,20,30,50]
            ,cols: [[ //表头
                {type: "checkbox",width: 60}
                ,{field: 'id', title: 'id', width:60, sort: true ,align: 'center', hide: true}
                ,{field: 'bookNo', title: '编号', width:80, sort: true ,align: 'center'}
                ,{field: 'bookName', title: '书名', width:140,align: 'center'}
                ,{field: 'bookAuthor', title: '作者', width:80, sort: true,align: 'center'}
                ,{field: 'bookPublish', title: '出版社', width:120 ,align: 'center'}
                ,{field: 'categoryName', title: '分类', width: 80, sort: true,align: 'center'}
                ,{field: 'bookPrice', title: '价格', width: 60,align: 'center'}
                ,{field: 'bookIntroduction', title: '介绍'}
            ]]
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            // var result = JSON.stringify(data.field);
            console.log('data:' + data.field)


            table.reload('table-book', {
                where: { //设定异步数据接口的额外参数，任意设
                    bookNo: data.field.bookNo
                    ,bookName: data.field.bookName
                    ,bookAuthor: data.field.bookAuthor
                    ,bookPublish: data.field.bookPublish
                    ,bookCategory: data.field.bookCategory
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); //只重载数据

            return false;
        });

        // toolbar监听事件
        // 这个是普通用户的书籍列表页面 普通用户不会有新增和批量删除的操作  这段代码在这里是没用的
        // 代码暂时保留 只是在书籍表格渲染时 去掉这些toolbar 这样页面就不展示了
        table.on('toolbar(table-book-filter)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    //拿到的index是一个重要的凭据，它是诸如layer.close(index)等方法的必传参数。
                    var index = layer.open({
                        title: '新增书籍',
                        type: 2,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: false,
                        area: ['100%', '100%'],
                        content: ctxPath + 'book/adminAddBook',
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    break;
                case 'delete':
                    layer.msg('删除');
                    var checkStatus = table.checkStatus('table-book'); //idTest 即为基础参数 id 对应的值
                    if(checkStatus.length == 0){
                        return false;
                    }
                    var ids = new Array()
                    $(checkStatus.data).each(function (){
                        ids.push(this.id);
                    });
                    var idsStr = ids.join(",") // 将id拼接成逗号分隔的字符串
                    console.log('选中的ids为:'+ idsStr) //获取选中行的id

                    layer.confirm('您确认删除选中的书籍?', {icon: 3, title:'删除确认'}, function(index){
                        //do something
                        var url = ctxPath + 'book/deleteBooksByIds/' + idsStr;
                        var params = {
                            _method: "DELETE"
                        }
                        // 异步请求到后端 后端返回后 需要刷新表格
                        $.post(url,params,function (response){
                            if(0 == response.code){
                                layer.msg(response.msg,{icon:1});
                                refreshTable();
                            }else {
                                layer.alert(response.msg,{icon:2,anim:6});
                            }

                        });

                        layer.close(index);
                    });
                    break;
            };
        });

        //监听每行数据后面的工具条的事件
        // 这个是普通用户的书籍列表页面 普通用户不会有编辑和删除的操作  这段代码在这里是没用的
        // 代码暂时保留 只是在书籍表格渲染时 去掉这些toolbar 这样页面就不展示了
        table.on('tool(table-book-filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent == 'del'){
                layer.confirm('您确认删除该书籍:' + data.bookName + '?', {icon: 3, title:'删除确认'}, function(index){
                    //do something
                    var url = ctxPath + 'book/deleteBooksByIds/' + data.id;
                    var params = {
                        _method: "DELETE"
                    }
                    // 异步请求到后端 后端返回后 需要刷新表格
                    $.post(url,params,function (response){
                        if(0 == response.code){
                            layer.msg(response.msg,{icon:1});
                            refreshTable();
                        }else {
                            layer.alert(response.msg,{icon:2,anim:6});
                        }

                    });

                    layer.close(index);
                });
            }else if (layEvent == 'edit'){
//拿到的index是一个重要的凭据，它是诸如layer.close(index)等方法的必传参数。
                var index = layer.open({
                    title: '编辑书籍',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: false,
                    area: ['100%', '100%'],
                    content: ctxPath + 'book/adminEditBook/' + data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });


    });

    /**
     * 重新刷新表
     */
    function refreshTable(){
        // 先清空form表单的搜索条件
        $("#data-reset").click();
        // 再点击搜索按钮进行表刷新
        $("#data-search").click();
    }
</script>

</body>
</html>