<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.UserMapper">

    <!-- 用户对象映射 -->
    <resultMap type="com.graduation.domain.User" id="userMap">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <id column="user_password" property="userPassword"/>
        <id column="user_phone" property="userPhone"/>
        <id column="admin_flg" property="adminFlg"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>

    <sql id = "getUsersWhere">
        <where>
            1=1
            <if test="username != null and username != ''">
                and a.username like '%' #{username} '%'
            </if>
            <if test="userPhone != null and userPhone != ''">
                and a.user_phone like '%' #{userPhone} '%'
            </if>
            <if test="adminFlg != null and adminFlg != ''">
                and a.admin_flg = #{adminFlg}
            </if>
        </where>
    </sql>
    <insert id="addUser">
        insert into user(username,user_password,user_phone,admin_flg) values(#{username},#{userPassword},#{userPhone},#{adminFlg})
    </insert>
    <update id="updateUser">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="username!=null">username=#{username},</if>
            <if test="userPassword!=null">user_password=#{userPassword},</if>
            <if test="userPhone!=null">user_phone=#{userPhone},</if>
            <if test="adminFlg!=null">admin_flg=#{adminFlg},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <delete id="deleteUsersByIds">
        delete from user where id in (${ids})
    </delete>


    <select id="getUser" resultMap="userMap">
        select * from user
        where username = #{username}
          and admin_flg = #{adminFlg}
    </select>

<!-- 按照查询条件分页查询用户 -->
<select id="getUserLists" resultMap="userMap">
select
a.id,a.username,a.user_phone,a.admin_flg
,date_format(a.create_time,'%Y-%m-%d %H:%i:%s') create_time , date_format(a.update_time,'%Y-%m-%d %H:%i:%s') update_time
from
user a
<include refid="getUsersWhere"></include>
order by a.update_time desc
limit #{start},#{limit}
</select>
<!-- 按照查询条件 获取符合条件的所有数据的总数 -->
<select id="getTotalCount" resultType="java.lang.Long">
select
count(1) cnt
from
user a
<include refid="getUsersWhere"></include>
</select>
<select id="getUserById" resultMap="userMap">
select
a.id,a.username,a.user_password,a.user_phone,a.admin_flg,a.create_time,a.update_time
from
user a
where 1=1
and a.id = #{id}
</select>
    <!-- 根据用户名查询用户 -->
    <select id="getUserByUserName" resultMap="userMap">
        select * from user where username = #{username}
    </select>
</mapper>